.footer {

    padding: 50px 0px 20px 0px;

    &__content {
        position: relative;

        display: flex;
        align-items: start;
        gap: 322px;
        margin-bottom: 123px;
    }

    &__address {
        font-family: "Jost";
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        color: #fff;

        max-width: 344px;
    }

    &__columns {
        display: flex;
        gap: 120px;
    }

    &__item {
        display: block;

        cursor: pointer;
        font-weight: 400;
        font-size: 12px;
        line-height: 167%;
        color: #fff;
        margin-bottom: 15px;
        opacity: 0.75;

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            color: #c5c5c5;
        }
    }

    &__up-button {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;

        border-radius: 100%;
        background-color: #0081fe;
        padding: 21px;

        &:hover {
            background-color: #0069d1;
        }
    }

    &__number {
        display: inline-block;
        font-weight: 400;
        font-size: 14px;
        line-height: 157%;
        color: #fff;
        margin-bottom: 10px;

        &:hover {
            color: #c5c5c5;
        }
    }

    &__lower-content {
        display: flex;
        align-items: center;
        gap: 486px;
    }

    &__mail {
        font-family: "Jost";
        font-weight: 400;
        font-size: 14px;
        line-height: 157%;
        color: #fff;

        &:hover {
            color: #c5c5c5;
        }
    }

    &__rights {
        font-family: "Jost";
        font-weight: 400;
        font-size: 12px;
        line-height: 167%;
        color: #fff;
        opacity: 0.65;
    }

    &__main-title {
        font-size: 30px;
        color: white;
        margin-bottom: 20px;
    }

    &__number1 {
        display: inline-block;
        font-weight: 400;
        font-size: 14px;
        line-height: 157%;
        color: #fff;
        margin-bottom: 5px;

        &:hover {
            color: #c5c5c5;
        }
    }

    &__id {
        font-size: 14px;
        color: white;
        margin-bottom: 44px;
    }
}

/* ============================================================================== */

@media (max-width: 1250px) {
    .footer {
        &__content {
            gap: 22px;
        }

        &__columns {
            gap: 60px;
        }

        &__content {
            margin-bottom: 83px;
        }

        &__number {
            margin-bottom: 13px;
        }

        &__lower-content {
            gap: 100px;
        }
    }
}

@media (max-width: 768px) {
    .footer {

        &__content {
            flex-direction: column;
        }

        &__address {
            text-align: center;
            margin: 0px auto;
        }

        &__columns {
            margin: 0px auto;
        }

        &__up-button {
            padding: 14px;
        }
    }
}

@media (max-width: 528px) {
    .footer {
        &__up-button {
            top: 240px;
        }

        &__number {
            display: block;
            text-align: center;
        }

        &__lower-content {
            flex-direction: column;
            gap: 5px;
        }

        &__number1 {
            display: block;
            text-align: center;
        }

        &__rights {
            text-align: center;
        }

        &__id {
            text-align: center;
        }

        &__main-title {
            display: block;
            text-align: center;
        }
    }
}