.services {
    padding: 100px 0px;
    background-color: white;
    margin-top: -10px;

    &__title {
        font-weight: 400;
        font-size: 54px;
        line-height: 90%;
        letter-spacing: -0.02em;
        text-align: center;
        color: black;
    }

    &__container {
        min-height: 750px;
        position: relative;
    }

    &__item {
        position: absolute;
    }

    &__item img {
        max-width: 400px;
        max-height: 400px;
    }

    &__item-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
    }

    &__item-title {
        font-weight: 400;
        font-size: 30px;
        line-height: 120%;
        letter-spacing: 0.01em;
        color: #fff;
    }

    &__item-icon {
        cursor: pointer;
        margin-top: 7px;
    }
}

.item-1 {
    opacity: 1;
    /* Скрываем элемент изначально */
    transition: all 1s ease-in-out;
    /* Добавляем плавный переход */

    top: 600px;
    left: 250px;
}

.item-2 {
    top: 640px;
    right: 260px;

    opacity: 1;
    /* Изначально скрываем элемент */
    transition: all 1s ease-in-out;
    /* Плавный переход для всех свойств */
}

.item-3 {
    bottom: 0px;
    left: 500px;
    opacity: 1;
    /* Изначально скрываем */
    transition: all 1s ease-in-out;
    /* Плавный переход */
}

.item-4 {
    bottom: 300px;
    left: 200px;
    opacity: 1;
    transition: all 1s ease-in-out;
}

.item-5 {
    bottom: 200px;
    right: 200px;
    opacity: 1;
    transition: all 1s ease-in-out;
}

.item-1.show {
    top: 0px;
    left: 0px;
    opacity: 0;
    /* Делаем элемент видимым */
}

.item-2.show {
    top: 100px;
    right: 100px;
    opacity: 0;
    /* Делаем элемент видимым */
}

.item-3.show {
    bottom: 250px;
    left: 450px;
    opacity: 0;
    /* Делаем видимым */
}

.item-4.show {
    bottom: 0;
    left: 0;
    opacity: 0;
}

.item-5.show {
    bottom: 0;
    right: 0;
    opacity: 0;
}

/* ============================================================================== */

@media (max-width: 1250px) {
    .services {
        padding: 70px 0px;

        &__item-image {
            width: 400px;
        }

        &__item-image img {
            width: 70%;
        }

        &__container {
            min-height: 900px;
        }
    }

    .item-1.show {
        left: 40px;
        opacity: 1;
        /* Делаем элемент видимым */
    }

    .item-2.show {
        top: 50px;
        right: -70px;
        opacity: 1;
        /* Делаем элемент видимым */
    }

    .item-3.show {
        bottom: 240px;
        left: 50px;
        opacity: 1;
        /* Делаем видимым */
    }

    .item-4.show {
        bottom: 430px;
        right: -20px;
        left: inherit;
        opacity: 1;
    }

    .item-5.show {
        right: inherit;
        left: 400px;
        bottom: 100px;
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .services {

        padding: 50px 0px;

        &__item {}

        &__item-content {
            justify-content: inherit;
            gap: 30px;
        }

        &__title {
            font-size: 46px;
        }

        &__item-title {
            font-size: 28px;
        }
    }

    .item-1 {
        top: 40px;
        left: 20px;
    }

    .item-2 {
        top: 250px;
        right: -60px;
    }

    .item-4 {
        bottom: 258px;
        left: 100px;
    }

    .item-3 {
        bottom: 0px;
        left: 140px;

        & img {
            width: 40%;
        }
    }

    .item-5 {
        bottom: 150px;
        right: 0px;
        z-index: 2;
    }

    .item-1.show {
        top: 200px;
        left: 200px;
        opacity: 1;
        /* Делаем элемент видимым */
    }

    .item-2.show {
        top: 230px;
        right: -470px;
        opacity: 1;
        /* Делаем элемент видимым */
    }

    .item-3.show {
        bottom: 80px;
        left: 0px;
        opacity: 1;
        /* Делаем видимым */
    }

    .item-4.show {
        bottom: 230px;
        right: -110px;
        left: inherit;
        opacity: 1;
    }

    .item-5.show {
        right: inherit;
        left: 290px;
        bottom: 0px;
        opacity: 1;
    }
}

@media (max-width: 528px) {
    .services {
        &__item-title {
            font-size: 22px;
        }
    }

    .item-1.show {
        left: 100px;
        opacity: 1;
        /* Делаем элемент видимым */
    }

    .item-2.show {
        top: 230px;
        right: -190px;
        opacity: 1;
        /* Делаем элемент видимым */
    }

    .item-3.show {
        bottom: 80px;
        left: 100px;
        opacity: 1;
        /* Делаем видимым */
    }

    .item-4.show {
        bottom: 230px;
        right: 0px;
        left: 100px;
        opacity: 1;
    }

    .item-5.show {
        right: -190px;
        left: inherit;
        bottom: 0px;
        opacity: 1;
    }
}